@use '../01_fundaments/variables';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: variables.$margin-64;
    margin-right: variables.$margin-64;
    margin-top: variables.$margin-16;
    
    border: 3px solid variables.$primary-color;
    border-radius: 16px;

    padding: variables.$padding-4 0;

    // TABLET & DESKTOP
    @media (min-width: 768px) {
        padding-inline: variables.$padding-32;
    }

    // Shared layout
    .logo,
    .user-menu,
    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
        gap: variables.$gap-32;

        @media (min-width: 768px) {
            gap: variables.$gap-48;
        }
    }

    .logo {
        gap: variables.$gap-8;
    }

    .logo-img {
        width: 30px;
        height: 30px;

        @media (min-width: 768px) {
            width: 35px;
            height: 35px;
            margin-top: -5px;
        }
    }

    .h6 {
        transition: color 0.2s ease;

        &:hover,
        &.active {
            color: variables.$primary-color;
        }

        &.active {
            font-weight: 600;
        }
    }
}